# Dependencies
/node_modules

# Environment Variables
.env

# Coverage Reports
/coverage
/coverage.json

# TypeChain Artifacts
/typechain
/typechain-types

# Package Files
/package-lock.json

# Editor Settings
/.vscode

# Hardhat Build Artifacts
/cache
/artifacts

# Crytic Compile Output
/crytic-export

# Dot Files for Contracts
contracts/**/*.dot

# Slither Test Result
test-results.json
testMatrix.json